@import "tailwindcss";

:root {
  --background: #F6F6F6;
  --foreground: #171717;
  --primary: #A3A7A8
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
}

.hero{
  background-image: url('/jeaven-paras-2.png');
  background-size: cover;      /* Scales the image to cover the entire background */
  background-position: center;  /* Centers the image */
  background-repeat: no-repeat;
}

.navigation{
  background-color: #171717;
  box-shadow: 0px 0px 10px rgba(223, 223, 223, 0.5);
}

.navigation > li {
  background-color: #262626;
  border-radius: 50%;
}

.marquee-track {
  width: max-content;
  animation: marquee 18s linear infinite;
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

